.premium-products {
    display: grid;    
}

.zx9-speaker {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 60vh;
    padding: 3rem;
    width: 100%;
    background-color: #D87D4A;
    border-radius: 8px;
    overflow: hidden;
}

.large-image {
    width: 50%;
}

.large-image img {
    width: 50%;
    height: auto;
}

.zx9-details {
    width: 40%;
}

.zx9-name{
    width: 40%;
    color: white;
    font-weight: bold;
    font-size: 56px;
    line-height: 58px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.zx9-info {
    width: 80%;
    font-size: 15px;
    line-height: 25px;
    color: white;
    margin-bottom: 1rem;
}

.zx9-button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.zx9-button:hover {
    background-color: #4C4C4C;
    color: #FFFFFF;
}

.zx7-speaker {
    width: 100%;
    padding: 5rem;
    border-radius: 8px;
    margin-top: 2rem;
    height: 50vh;
    background-image: url(../../assets/home/desktop/image-speaker-zx7.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.zx7-name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 2rem;
}

.zx7-button, .yx-1-button {
    padding: 1rem;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #000000;
}

.zx7-button:hover, .yx-1-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.earphones {
    display: flex;
    margin-top: 2rem;
    gap: 3%;
}

.earphone-image {
    width: 50%;
    height: 100%;
    border-radius: 8px;
}

.earphone-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.earphone-link {
    width: 50%;
    height: 100%;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
}

.yx1-name {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* For Tablet */
@media (max-width: 799px) {
    .zx9-speaker {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .large-image {
        width: 70%;
        margin-bottom: 2rem;
        text-align: center;
    }

    .zx9-details {
        width: auto;
        text-align: center;
    }

    .zx9-name {
        width: 50%;
        margin: 1rem auto;
    }
    
    .zx9-info {
        width: 65%;
        margin: 1rem auto;
    }

    .zx9-button {
        padding: 1rem 2rem;
    }

    .zx7-speaker {
        background-image: url(../../assets/home/tablet/image-speaker-zx7.jpg);
        padding: 3rem 5rem;
    }

    .zx7-name {
        margin-bottom: 1rem;
    }

    .zx7-button, .yx-1-button {
        padding: 1rem 2rem;
    }
    
}

/* For mobile */
@media (max-width: 480px) {
    .premium-products {
        display: flex;
        flex-direction: column;
    }

    .zx9-speaker {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .large-image {
        width: 100%;
        margin-bottom: 2rem;
    }

    .zx9-name {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1.29px;
        width: auto;
    }

    .zx9-details {
        width: auto;
    }

    .zx9-info {
        width: auto;
    }

    .zx7-name {
        margin-bottom: 1rem;
    }

    .zx7-speaker {
        padding: 5rem 0 0 1rem;
        background-image: url(../../assets/home/mobile/image-speaker-zx7.jpg);
    }

    .zx7-button, .yx-1-button {
        padding: 0.5rem;
    }

    .earphones {
        flex-direction: column;
    }

    .earphone-image {
        width: auto;
        height: auto;
        margin-bottom: 2rem;
    }

    .earphone-link {
        width: auto;
    }

}