.button {
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
    align-self: flex-start;
    outline: none;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
}