.navlist {
    list-style-type: none;
    display: flex;
}

.link {
    color: white;
    text-decoration: none;
}

.navlist li {
    margin-left: 1.5rem;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 14px;
}
.navlist li:hover {
    color: #d87d4a;
}


/* For Tablets */
@media (max-width: 799px) {

    .navlist {
        display: none;
    }

}
/* For Phones */
@media (max-width: 480px) {

    .navlist {
        display: none;
    }

}