.navlist {
    list-style-type: none;
    display: flex;
}

.link {
    color: white;
    text-decoration: none;
}

.navlist li {
    margin-left: 1.5rem;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 14px;
}
