.navigation {
    padding: 1.5rem 7rem;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333333;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}

.shopping-cart {
    cursor: pointer;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.overlay {
    z-index: 5;
    /* background-color: rgba(0,0,0,0.7); */
    background-color: #000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.modal-body {
    background-color: white;
    width: 30%;
    min-height: 150px;
    position: absolute;
    top: 6rem;
    right: 7rem;
    border: none;
    border-radius: 8px;
    padding: 1.5rem;
    outline: none;
}

.remove-btn {
    padding: 0;
    text-decoration: underline;
    background-color: white;
}

.checkout-btn {
    width: 100%;
    background-color: #de7d4a;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem;
}

.empty {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    
}

.cart-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.item {
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    margin-bottom: 1rem;
}