.navigation {
    padding: 1.5rem 7rem;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333333;
}

.hamburger-container {
    display: none;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}

.shopping-cart {
    cursor: pointer;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.overlay {
    z-index: 5;
    /* background-color: rgba(0,0,0,0.7); */
    background-color: #000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.modal-body {
    background-color: white;
    width: 35%;
    min-height: 150px;
    position: absolute;
    top: 6rem;
    right: 7rem;
    border: none;
    border-radius: 8px;
    padding: 1.5rem;
    outline: none;
}

.remove-btn {
    padding: 0;
    text-decoration: underline;
    background-color: white;
}

.checkout-btn {
    width: 100%;
    background-color: #de7d4a;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem;
}

.empty {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    
}

.cart-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.row {
    width: 100%;    
}

.col-1 {
    display: flex;
}

.cart-item-img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
}

.cart-item-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-name {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

.cart-item-price {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}

.item-quantity {
    background-color: #f1f1f1;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.increase-item {
    margin-left: 1rem;
}

.reduce-item {
    margin-right: 1rem;
}

.increase-item, .reduce-item {
    margin-bottom: 0;
    padding: 0;
}

.total-container {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.total-amount {
    font-weight: bold;
    font-size: 18px;
}

/* For Tablets */
@media (max-width: 799px) {
    .navigation {
        width: 100%;
        padding: 2rem;
        justify-content: initial;
    }

    .hamburger-container {
        display: block;
        margin-right: 2rem;
    }

    .shopping-cart {
        position: absolute;
        right: 2rem;
    }
    
}


/* For Phones */
@media (max-width: 480px) {

    .navigation {
        width: 100%;
        padding: 2rem;
    }

    .hamburger-container {
        display: block;
    }



}