.headphones-main {
    margin-top: 4rem;
    padding: 1.5rem 7rem;
}

.headphones-landing {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 30vh;
    padding: 1rem 5rem;
}

.page-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
}

.headphones-row-one, .headphones-row-two,
.headphones-row-three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    margin-bottom: 2rem;
}

.img-container img {
    width: 100%;
    border-radius: 8px;
}

.xx99-intro {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 10px;
    color: #d87d4a;
    margin-bottom: 1rem;
}

.xx99-product-name, 
.xx99m1-product-name,
.xx59-product-name {
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 1rem;
}

.xx99-product-details,
.xx99m1-product-details,
.xx59-product-details {
    font-size: 15px;
    line-height: 25px;
    width: 83%;
    margin-bottom: 1rem;
}

.product-btn {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #d98d4a;
    color: #FFFFFF;
}

.product-btn:hover {
    background-color: #FBAF85;
}

@media (max-width: 799px) {
    .headphones-main {
        margin-top: 3rem;
        padding: 2rem;
    }

    .headphones-row-one, .headphones-row-three {
        flex-direction: column;
    }

    .headphones-row-two {
        flex-direction: column-reverse;
    }

    .about-xx99, .about-xx59 {
        text-align: center;
        margin-top: 1rem;
    }

    .xx99-product-name, .xx99m1-product-name, .xx59-product-name {
        width: 85%;
        margin: 0 auto;
    }

    .xx99-product-details, .xx99m1-product-details, .xx59-product-details {
        width: 70%;
        margin: 1rem auto;
    }
    
}