.product-link {
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2rem;
}

.link-image {
    width: 60%;
    height: auto;
    position: relative;
    bottom: 3rem;
}

.product-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.29px;
    margin-top: -4rem;
}

.shop-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 13px;
}

.shop-link img {
    margin-left: 1rem;
}