* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.app {
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color: black;
}

button {
    outline: none;
    border: none;
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}