.product-category {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding-top: 5rem;
    margin-bottom: 2rem;
}

/* For tablets */
@media (max-width: 799px) {
    .product-category {
        margin-bottom: 0;
        gap: 3%;
    }
}

/* For mobile */
@media (max-width: 480px) {
    .product-category {
        flex-direction: column;
        margin-bottom: 0;
    }
}