.checkout {
    padding: 1.5rem 7rem;
    background-color: #f1f1f1;
}

.checkout-information {
    display: flex;
    gap: 3%;
    justify-content: space-between;
}

.billing-details {
    background-color: #ffffff;
    width: 65%;
    border-radius: 8px;
    padding: 2rem;
}

.summary {
    width: 35%;
    height: initial;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem;
    align-self: flex-start;
}

.billing-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 1.14px;
    margin-bottom: 2rem;
}

.section-title {
    font-weight: bold;
    color: #d87d4a;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.93px;
    margin-bottom: 1rem;
}

.section-field {
    margin-bottom: 2rem;
}

.field {
    display: inline-block;
    width: 50%;
}

#address {
    width: 100%;
}

label, .payment-method {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.21px;
    display: block;
    margin-bottom: 0.25rem;
}

input {
    border-radius: 8px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 1rem;
    width: 100%;
}

.section-row-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.radio-fields {
    width: 50%;
}

.radio-container {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    margin-bottom: 1rem;
    padding: 0.25rem;
}

.e-money-details {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.e-money {
    width: 50%;
}

input[type=radio]{
    padding: 0;
    display: inline-block;
    width: 5%;
    margin: 0 0.5rem;
}

.radio-label {
    display: inline-block;
}


.total-cost {
    display: flex;
    justify-content: space-between;
}

.price-details {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
}

.cost {
    font-weight: bold;
    font-size: 18px;
}

.grand-total {
    color: #d87d4a;
    font-weight: bold;
}

.all-cost {
    margin-top: 1.5rem;
}

.confirmation-btn {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d87d4a;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1rem;
}

.notification {
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 25px;
}

.back-home {
    width: 100%;
    text-transform: uppercase;
    background-color: #d87d4a;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 1rem;
}

.confirmation-body {
    background-color: white;
    width: 40%;
    min-height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    padding: 1.5rem;
    outline: none;
}

.half {
    display: flex;
    gap: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    display: flex;
    justify-items: center;
}

.total-quantity {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    align-self: center;
}

.back-checkout {
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.first-item {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.first-line {
    display: flex;
}

.first-item-name {
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.first-item-price {
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}

.first-qty {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

.short-detail {
    border-radius: 8px 8px 0 0;
    padding: 1rem 2rem;
}

.other-items {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    font-weight: 12px;
    letter-spacing: -0.21px;
}

.order-summary {
    background-color: #979797;
    border-radius: 8px;
}

.grand-total-confirm {
    background-color: #000;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 0 0 8px 8px;
}

.all-added {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    margin-bottom: 1rem;
}

.max-amount {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}

@media (max-width:479px) {
    .checkout {
        padding: 2rem;
    }

    .checkout-information {
        flex-direction: column;
    }

    .billing-details {
        width: auto;
        margin-bottom: 2rem;
    }

    .summary {
        width: 100%;
    }

    .half {
        flex-direction: column;
    }

    .field {
        width: 100%;
    }
    
    input {
        padding: 1rem;
    }

    .section-row-one {
        flex-direction: column;
    }

    .radio-fields {
        width: 100%;
    }

    .radio-container {
        padding: 0.75rem;
    }
    
    .payment-method {
        margin-bottom: 1rem;
    }

    .e-money-details {
        flex-direction: column;
    }

    .e-money {
        width: 100%;
    }

    .section-field {
        margin-bottom: 0;
    }

    .confirmation-body {
        width: 85%;
    }
}