.price {
    font-weight: bold;
    margin-bottom: 1rem;
}

.add-product {
    display: flex;
}

.product-quantity {
    background-color: #f1f1f1;
    font-size: 13px;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 1rem;
    cursor: pointer;
}

.reduce, .increase {
    
}

.xx99-row-two {
    display: flex;
    gap: 1%;
    margin-bottom: 2rem;
}

.features {
    width: 60%;
}

.features-title, .box-contents-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.features-text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1rem;
}

.box-contents {
    margin-left: 2rem;
}

.product-accessories {
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 25px;
}

.quantity {
    color: #D87D4A;
    font-weight: bold;
    margin-right: 1rem;
}

.image-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 3%;
    margin-bottom: 5rem;
}

.image-one {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.image-two {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.image-three {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.image-grid img {
    border-radius: 8px;
    display: inline-block;
    object-fit: contain;
    width: 100%;
}

.similar-products {
    text-align: center;
    margin-bottom: 2rem;
}

.similiar-products-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.similar-products-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.similar-link {
    flex: 1;
}

.similar-link img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.link-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.71px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}