.audio-gear {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    width: 100%;
    gap: 3%;
}

.audio-gear-information {
    width: 50%;
}

.audio-gear-title {
    width: 80%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
    margin-bottom: 1rem;
}

.audio-gear-about {
    width: 78%;
    font-size: 15px;
    line-height: 25px;
}

.highlight {
    color: #de7d4a;
}

.audio-gear-photo {
    width: 50%;
}

.audio-gear-photo img {
    width: 100%;
    border-radius: 8px;
}